<ion-view>
    <ion-content class="padding">
        <px-login-img title='"Change Password"'></px-login-img>
        <div class="list list-inset">
            <label class="item item-input item-divider" ng-if="!firstLogin()">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Enter username" ng-model="data.username" ng-disabled="true">
            </label>
            <label class="item item-input" ng-if="!firstLogin()">
                <span class="input-label">Old Password</span>
                <input type="password" placeholder="Enter password" ng-model="data.password_old">
            </label>


            <div class="item item-text-wrap" ng-if="firstLogin()">
              Hello {{data.username}}, this is your first time loggin into <strong>Perkkx</strong>. Please change
              your password.
            </div>

            <label class="item item-input">
                <span class="input-label">New Password</span>
                <input type="password" placeholder="Enter password" ng-model="data.password_new">
            </label>
            <label class="item item-input">
                <span class="input-label">Confirm</span>
                <input type="password" placeholder="Repeat new password" ng-model="data.password_new_rep">
            </label>
            <div class="item button-bar">
                <a class="button px-cancel-button" ng-click="cancel()">Cancel</a>
                <a class="button button-positive" ng-click="submit()">Submit</a>
            </div>
        </div>
        <div ng-show="state.isLoading">
            <p class="text-center">
                <ion-spinner></ion-spinner>
            </p>
        </div>
        <div class="list list-inset list-borderless" ng-if="state.error">
            <div class="item assertive item-text-wrap text-center">
                {{ data.error }}
            </div>
        </div>
    </ion-content>
</ion-view>
