<ion-view view-title="<img src='img/perkkx_lgo.svg' class='px-header-img'>" hide-nav-bar="false">
    <ion-header-bar class="bar-stable bar-subheader">
        <h1 class="title">Login</h1>
    </ion-header-bar>
    <ion-content class="has-header has-subheader padding" scroll="false">
        <div class="list list-inset" ng-if="state.loginPage">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Enter username" ng-model="data.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Enter password" ng-model="data.password">
            </label>
            <button class="item button button-block button-positive" ng-click="submit()">Login</button>
        </div>
        <div ng-show="state.isLoading">
            <p class="text-center">
                <ion-spinner></ion-spinner>
            </p>
        </div>
        <div class="list list-inset" ng-if="state.error">
            <div class="item item-assertive">
                {{ data.error }}
            </div>
        </div>
    </ion-content>
</ion-view>
