<ion-view view-title="<img class='px-header-img' src='img/header.png'>">
    <!--
    <ion-header-bar align-title="left" class="bar-stable bar-subheader padding-left padding-top bar-custom">
        <p class="title dark">These users have rated the experience at your store. Please enter the bill details
        in case they have visited</p>
    </ion-header-bar> -->
    <ion-content class='has-header'>
        <ion-refresher
                pulling-text="Pull to refresh"
                on-refresh="refresh()">
        </ion-refresher>
        <ion-list>
            <div class="list list-inset list-borderless" ng-if="codes.length">
                <div class="item item-text-wrap text-center px-small-text">
                    These users have rated the experience at your store. Please enter the bill details in case
                    they have visited
                </div>
            </div>
            <div class="list list-inset" ng-repeat="code in codes"
                ng-init="formshow = false" >
                <div ng-click='formshow = !formshow'>
                    <px-coupon
                        redeem='true'
                        expiry="true"
                        coupon='code'>
                    </px-coupon>
                </div>
                <div ng-show="formshow">
                    <px-bill-form
                            submit-obj='code'
                            submit-func='submit'
                            show='formshow'
                            slider='false'>
                    </px-bill-form>
                </div>
            </div>
        </ion-list>
        <ion-infinite-scroll
              on-infinite="loadMore()"
              distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
