<ion-view view-title="<img class='px-header-img' src='img/perkkx_lgo.svg'>">
    <ion-content>
        <ion-refresher
              pulling-text="Pull to refresh"
              on-refresh="refresh()">
        </ion-refresher>
        <ion-list>
            <div class="list list-inset" ng-repeat="code in codes"
                ng-init="formshow = false; detailshow = false" >
                <div ng-click="detailshow = formshow ? detailshow : !detailshow">
                    <px-coupon coupon='code'
                        redeem='true'
                        bill='true'>
                    </px-coupon>
                </div>
                <div ng-show='detailshow' class='item item-text-wrap px-small-text px-item-content'>
                    <div class='row'>
                        <div class='col col-50 px-bill-detail'>Paid Amount:</div>
                        <div class='col'><strong>Rs. {{ code.paid }}</strong></div>
                    </div>
                    <div class='row'>
                        <div class='col col-50 px-bill-detail'>Discount Amount: </div>
                        <div class='col'><strong>Rs. {{ code.discount }}</strong></div>
                    </div>
                    <!-- Disabled form for now -->
                    <!--
                    <div class='row'>
                        <div class='col col-50'></div>
                        <div class='col'>
                            <button
                                ng-click='detailshow = false; formshow = true'
                                class='button button-block button-small button-positive'>
                                    Edit Bill
                            </button>
                        </div>
                    </div>
                     -->
                </div>
                <px-bill-form
                    submit-obj='code'
                    submit-func='submit'
                    show='formshow'
                    default-paid='code.paid'
                    default-discount='code.discount'>
                </px-bill-form>
            </div>
        </ion-list>
        <ion-infinite-scroll
                on-infinite="loadMore()"
                distance="10%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
