<ion-view view-title="Perkkx">
    <ion-content
            scroll="false">

        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label icon ion-search placeholder-icon">
                    Redeem code
                </span>
                <input type="text"
                       size="8"
                       ng-model='rcode' ng-change='get(rcode)' placeholder="Enter redeem code"/>
            </label>
        </div>
        <!--
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Redeem code</span>
                <input type="text" placeholder="Redeem code" ng-model="rcode" reset-field>
            </label>
        </div>
        -->

        <div ng-show="load">
            <p class="text-center">
                <ion-spinner></ion-spinner>
            </p>
        </div>
        <div class="card" ng-show="result" ng-click="toggleBill()">
            <px-coupon
                expiry="false"
                redeem="false"
                bill="false"
                coupon="resultCode">
            </px-coupon>
        </div>
        <div class="card" ng-show="billshow">
            <px-bill-form
                    submit-obj="resultCode"
                    submit-func="submit"
                    show="true">
            </px-bill-form>
        </div>

        <div class="card" ng-show="error">
            <div class="item item-text-wrap item-assertive">
                The code you entered doesn't seem to be a valid one
            </div>
        </div>
        <!--
        <ion-refresher
            pulling-text="Pull to refresh"
            on-refresh="refresh()">
        </ion-refresher>
        <ion-list>
            <div class="card" ng-repeat="code in codes"
                ng-init="formshow = false" >
                <div ng-click="formshow = !formshow">
                    <px-coupon coupon='code'
                        redeem='true'
                        expiry='true'>
                    </px-coupon>
                </div>
                <px-bill-form
                    submit-obj='code'
                    submit-func='submit'
                    show='formshow'>
                </bill-form>
            </div>
        </ion-list>
        <ion-infinite-scroll
            on-infinite="loadMore()"
            distance="1%">
        </ion-infinite-scroll>
        -->
    </ion-content>
</ion-view>
