<ion-view>
    <ion-content class='has-header' on-swipe-left="goTo('used')">
        <div class="list">
            <div class="row item padding-top">
                <!--
                <div class="col-90">
                    <label class="item-input item-floating-label">
                        <span class="input-label icon ion-search placeholder-icon">
                            Redeem code
                        </span>
                        <input type="text"
                               size="8"
                               maxlength="8"
                               ng-model='data.rcode' ng-change='checkCode()'
                               placeholder="Enter redeem code"
                                />
                        </label>
                </div> -->
                <div class="col-90">
                    <label class="item-input">
                        <i class="icon ion-search placeholder-icon px-icon"> </i>
                        <input type="text"
                               size="8"
                               maxlength="8"
                               ng-model='data.rcode' ng-change='checkCode()'
                               placeholder="Enter redeem code"
                                />
                    </label>
                </div>
                <div class="col-10">
                    <button ng-click="clearInput()"
                            ng-show="data.rcode.length"
                            class="input-button button button-small button-icon ion-close">
                    </button>
                </div>
            </div>
        </div>
        <div ng-show="state.isLoading">
            <p class="text-center">
                <ion-spinner></ion-spinner>
            </p>
        </div>
        <div class="card" ng-show="state.haveResult" ng-click="state.billshow = !state.billshow">
            <px-coupon
                expiry="false"
                redeem="false"
                bill="false"
                coupon="data.resultCode">
            </px-coupon>
        </div>
        <div class="card" ng-show="state.billshow">
            <px-bill-form
                    submit-obj="data.resultCode"
                    submit-func="submit"
                    show="state.billshow"
                    scroll-back="true">
            </px-bill-form>
        </div>

        <div class="card" ng-show="state.isError">
            <div class="item item-text-wrap px-invalid-message">
                <i class="icon ion-close-circled px-icon padding-right"></i>The code you entered doesn't seem to be a valid one
            </div>
        </div>
    </ion-content>
</ion-view>
