<ion-view view-title="<img class='title-image' src='img/header.png'>">
    <ion-content class='has-header'>
        <ion-refresher
                pulling-text="Pull to refresh"
                on-refresh="refresh()">
        </ion-refresher>
        <ion-list>
            <div class="card" ng-repeat="code in codes"
                ng-init="formshow = false" >
                <div ng-click='formshow = !formshow'>
                    <px-coupon
                        redeem='true'
                        coupon='code'>
                    </px-coupon>
                </div>
                <px-bill-form
                    submit-obj='code'
                    submit-func='submit'
                    show='formshow'
                    slider='false'>
                </px-bill-form>
            </div>
        </ion-list>
        <ion-infinite-scroll
              on-infinite="loadMore()"
              distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
