<ion-view view-title="Perkkx">
  <ion-content>
    <ion-list>
        <div class="card" ng-repeat="code in pcodes"
            ng-init="formshow = false" >
            <div ng-click="formshow = !formshow">
                <div class="item item-divider">
                    <h1>{{ code.code }}</h1>
                    <h4>{{ code.desc }}</h4>
                </div>
                <div class="item item-text-wrap">
                    <p>Redeemed on {{ code.usedOn | date }}</p>
                    <p>Expiry: {{ code.expiry | date }}</p>
                </div>
            </div>
            <px-bill-form 
                submit-obj='code' 
                submit-func='submit' 
                show='formshow'>
            </bill-form>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
