<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!--<script src="lib/ngCordova/dist/ng-cordova.js"></script> -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    
    <!-- A lil jquery -->
    <script src='lib/jquery/dist/jquery.js'></script>

    <!-- Moment library to manipulate date -->
    <script src="lib/moment/moment.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/controllers.js"></script>
    <!--<script src="js/testControllers.js"></script> -->
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
  </head>
  <body ng-app="perkkx">

    <ion-side-menus ng-controller="MainCtrl">

      <ion-side-menu
              side="left"
              ng-controller="SideBarCtrl">
        <header class="bar bar-dark bar-header">
          <h1 class="title">{{ data.title }}</h1>
        </header>
        <ion-content class="dark-bg has-header">
          <div class="list list-inset list-borderless" ng-if="state.registered">
            <div class="item item-text-wrap">
              This application is registered to <strong>{{ data.vendor_name }}</strong>
            </div>
            <div class="item item-text-wrap">
              Vendor ID: <strong>{{ data.vendor_id }}</strong>
            </div>
          </div>

          <div class="list list-inset list-borderless" ng-if="state.registered">
            <a class="item item-icon-left" ng-click="logout()" href="#">
              <i class="icon ion-log-out"></i>
              Logout
            </a>
          </div>

          <div class="list list-inset" ng-if="!state.registered">
            <div class="item item-text-wrap">
              Please login to perkkx to start using the app
            </div>
          </div>
        </ion-content>
      </ion-side-menu>


      <ion-side-menu-content>

        <ion-nav-bar class="bar-stable">
          <ion-nav-buttons side="left">
            <button class="button button-clear icon ion-ios-more"
                    ng-click="menu()"></button>
          </ion-nav-buttons>
          <ion-nav-back-button>
          </ion-nav-back-button>
        </ion-nav-bar>

        <ion-nav-view></ion-nav-view>   <!-- Views will be rendered here -->

      </ion-side-menu-content>
    </ion-side-menus>
  </body>
</html>
