<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://localhost:35729">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!--<script src="lib/ngCordova/dist/ng-cordova.js"></script> -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    
    <!-- A lil jquery -->
    <script src='lib/jquery/dist/jquery.js'></script>

    <!-- Moment library to manipulate date -->
    <script src="lib/moment/moment.js"></script>

    <!-- md5 hashing for passwords -->
    <script src="lib/blueimp-md5/js/md5.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/constants.js"></script>
    <!--<script src="js/controllers.js"></script>-->
    <!--<script src="js/testControllers.js"></script> -->

    <!-- Controllers -->
    <script src="js/controllers/main.js"></script>
    <script src="js/controllers/views.js"></script>
    <script src="js/controllers/credentials.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
  </head>
  <body ng-app="perkkx">

    <ion-side-menus ng-controller="MainCtrl">

      <ion-side-menu
              side="left"
              ng-controller="SideBarCtrl">

        <header class="bar bar-dark bar-header dark-border">
          <h1 class="title">{{ data.title }}</h1>
        </header>

        <ion-content class="dark-bg has-header">
          <div class="list list-inset list-borderless">
            <div class="item item-text-wrap">
              This application is registered to <strong>{{ data.vendor_name }}</strong>
              <p ng-if="data.address" class="padding-top">Outlet: <strong>{{data.address}}</strong></p>
            </div>
            <div class="item item-text-wrap">
              Logged in as: <strong>{{ data.username }}</strong>
            </div>
          </div>

          <div class="list list-inset list-borderless">
            <a class="item item-icon-left" ng-click="logout()" href="#">
              <i class="icon ion-log-out"></i>
              Logout
            </a>
            <a class="item item-icon-left" ng-click="change_pass()" href="#">
              <i class="icon ion-ios-gear"></i>
              Change Password
            </a>
          </div>
        </ion-content>

      </ion-side-menu>


      <ion-side-menu-content>

        <ion-header-bar class="bar-stable" ng-if="navBarCheck()">
          <div class="buttons">
            <button class="padding-left button button-clear icon ion-navicon"
                    ng-show="state.sideBar"
                    ng-click="menu()"></button>
          </div>
          <div class="title">
            <img src="img/perkkx_lgo.svg" class="px-header-img">
          </div>
        </ion-header-bar>

        <ion-nav-view></ion-nav-view>   <!-- Views will be rendered here -->

      </ion-side-menu-content>
    </ion-side-menus>
  </body>
</html>
