<div class='item item-divider'>
    <div class="row">
        <div class="col-90">
            <h1>{{ coupon.rcode | uppercase }}</h1>
        </div>
        <div class="col padding-top">
            <i class="icon ion-arrow-down-b dark"></i>
        </div>
    </div>
    <div class="row" ng-if="coupon.hasOwnProperty('deal')">
        <div class="col-100">
            <h2>{{ coupon.deal }}</h2>
        </div>
    </div>
    <p style="font-style:italic" ng-if="!coupon.hasOwnProperty('deal')">
        <i class="icon ion-ios-checkmark padding-right balanced"> </i>
        Verified User
    </p>
</div>
<div class='item item-text-wrap' ng-if="hRedeem || hExpiry || hBill">
    <div class="row">
        <div class="col-100">
            <p ng-if='hRedeem'>Redeemed on {{ coupon.used_on | date }}</p>
            <p ng-if='hExpiry' style="color:darkred">Valid till {{ coupon.expiry | date }}</p>
            <p ng-if='hBill' style="color:darkgreen">Bill submitted on {{ coupon.submitted_on | date }}</p>
        </div>
    </div>
</div>
