<div class='item item-divider'>
    <div class="row">
        <div class="col-90">
            <h1>{{ coupon.rcode | uppercase }}</h1>
        </div>
        <div class="col padding-top">
            <i class="icon ion-arrow-down-b dark"></i>
        </div>
    </div>

    <div class="row px-deal" ng-if="coupon.hasOwnProperty('deal')">
        <div class="col-100">
            <span class="px-offer" ng-if="coupon.offer">{{coupon.offer}}: </span>
            <span class="px-offer" ng-if="!coupon.offer">Offer: </span>
            <span>{{ coupon.deal }}</span>
        </div>
    </div>

    <div class="row px-verified" ng-if="!coupon.hasOwnProperty('deal')">
        <div class="col-100">
            <i class="icon ion-ios-checkmark padding-right balanced px-icon"></i>
            Verified Coupon
        </div>
    </div>

</div>
<div class="item item-text-wrap px-item-content" ng-if="hRedeem || hExpiry || hBill">
    <p ng-if="hRedeem" class="px-smaller-text">
        Redeemed on {{ coupon.used_on | date : "MMM d, y 'at' h:mm a" : "+0530" }}
    </p>
    <p ng-if='hExpiry && coupon.hasOwnProperty("expiry")' class="px-smaller-text assertive">
        Valid till {{ coupon.expiry | date : "MMM d, y" }}
    </p>
    <p ng-if="hBill" class="px-smaller-text">
        Bill submitted on {{ coupon.submitted_on | date : "MMM d, y 'at' h:mm a" : "+0530" }}
    </p>
</div>
<!--
<div class="item item-text-wrap px-item-content" ng-if="hRedeem || hExpiry || hBill">
    <div ng-if='hRedeem' class="row px-smaller-text">
        Redeemed on {{ coupon.used_on | date }}
    </div>
    <div ng-if='hExpiry' class="row px-smaller-text assertive">
        Valid till {{ coupon.expiry | date }}
    </div>
    <div ng-if="hBill" class="row px-smaller-text">
        Bill submitted on {{ coupon.submitted_on | date}}
    </div>
</div>
-->
