<div class='item item-divider'>
    <div class="row">
        <div class="col-90">
            <h1>{{ coupon.rcode | uppercase }}</h1>
        </div>
        <div class="col padding-top">
            <i class="icon ion-arrow-down-b dark"></i>
        </div>
    </div>
    <div class="row" ng-if="coupon.hasOwnProperty('deal')">
        <div class="col-100">
            <h2>{{ coupon.deal }}</h2>
        </div>
    </div>
    <p style="font-style:italic" ng-if="!coupon.hasOwnProperty('deal')">
        <i class="icon ion-ios-checkmark padding-right balanced"> </i>
        Verified User
    </p>
</div>
<div class="item list item-text-wrap padding-left padding-top padding-bottom" ng-if="hRedeem || hExpiry || hBill">
    <div ng-if='hRedeem' class="padding-left px-smaller-text">
        Redeemed on {{ coupon.used_on | date }}
    </div>
    <div ng-if='hExpiry' class="padding-left px-smaller-text assertive">
        Valid till {{ coupon.expiry | date }}
    </div>
    <div ng-if="hBill" class="padding-left px-smaller-text balanced">
        Bill submitted on {{ coupon.submitted_on | date}}
    </div>
</div>
